*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url(./images/bgpink.png);
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;

}

	/*fonts*/
div {
font-family: 'Leckerli One', cursive;
color: saddlebrown;
padding: 0px;
}
h2	{
	font-family: 'Leckerli One', cursive;
color: saddlebrown;
}

ul {
	font-family: 'Itim', cursive;
}


	/*video in Jumbotron */

#video-container {
	height: 100%;
	width: 100%;
	padding: 0px;
}
#main-video {
	max-width: 100%;
}


.overlayText {
    position:absolute;
    top:35%;
    left:5%;
    z-index:1;
}













