*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url(./images/bgpink.png);
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;

}

	/*fonts*/
.overlayText{
font-family: 'Leckerli One', cursive;
color: saddlebrown;
padding: 0px;
}


div {
	font-family: 'Itim', cursive;
	color: saddlebrown;
}


	/*video in Jumbotron */

#video-container {
	height: 100%;
	width: 100%;
	padding: 0px;
}
#main-video {
	max-width: 100%;
}


.overlayText {
    position:absolute;
    top:35%;
    left:5%;
    z-index:1;
}



#projects {
	position: relative;
	width: 1200px;
	height: 300px;
	margin: 240px auto;
	background: #darkgoldenrod;
}

/*my project zoom in*/

.inner {
	overflow: hidden;
}

.inner img {
	transition: all 1.5s ease;
}
.inner:hover img {
	transform: scale(1.5);
}






